* {
  padding: 0;
  margin: 0;
}

.topbarContainer {
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 2px -2px gray;
  display: flex;
  align-items: center;
  top: 0;
  background-color: #285da2;
}

.imageAdmin {
  width: 70px;
  height: 45px;
}

.logo {
  font-size: 22px;
  cursor: pointer;
  color: #fff;

  font-family: 'Arial', cursive;

}

.topbarRight .searchbar {
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  border: #fff 1px solid;
  margin-top: 8.5px;
}

.Icon {
  font-size: 18px;
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 5px;
  color: #5c5c5c;
}

.searchInput {
  border: none;
  width: 80px;
}

.searchInput:focus {
  outline: none;
}

.topbarLeft {
  width: 100%;

  justify-content: space-between;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.topbarCenter {
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  margin-left: 20%;

}

.menu {
  color: #fff;
  margin-right: 20px;
  font-size: 24px;

}

.menu:hover {
  color: #393939;
}

.IconItem {
  color: #fff;
  margin-right: 10px;
  margin-left: 40%;
  font-size: 24px;
}

.IconItem:hover {
  color: #393939;
}

.topbarRight {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;

}

.topbarImg {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-left: 340px;
  margin-right: 80px;
}

.sidebar {

  width: 274px;
  height: 100%;
  background-color: #23497b;
  position: fixed;
}

li {
  padding-top: 13px;
  list-style-type: none;

  width: 100%;
  margin-bottom: 1rem;
}

.sidebar a {
  display: block;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  padding-left: 0.5rem;
}

.sidebar a i {
  font-size: 1.5rem;
  padding-right: 1rem;
  height: 30px;
}

.sidebar a.active {
  background-color: #fff;
  height: 30px;
  color: #1e1f1f;
  border-radius: 30px 0 0 30px;
}

.sidebar a:hover {
  background-color: #fff;
  height: 30px;
  color: #1e1f1f;
  border-radius: 30px;

}

.sidebar a:focus {
  background-color: #fff;
  height: 30px;
  color: #1e1f1f;
  border-radius: 30px 0 0 30px;

}

.btn {
  display: block;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  height: 30px;
  margin-left: 25px;
  border-radius: 30px;
}

.btn:hover {
  background-color: #fff;
  height: 30px;
  color: #1e1f1f;
  border-radius: 30px;
}

.drop {
  display: block;
  color: #892828;
  font-size: 1rem;
  text-decoration: none;
  height: 30px;
  margin-left: 25px;

}

.drop:hover {
  background-color: #fff;
  height: 30px;
  color: #1e1f1f;
  border-radius: 30px 30px 30px 30px;

  align-items: center;
  display: flex;
}

ul li button {
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

ul li button {
  padding: 0.7rem 1rem;
  text-align: left;
}

.dropdown {
  padding: 2px 1.5rem;
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;

}

li:focus-within .dropdown {
  height: 120px;

}

li:focus-within>button>.arrow {
  transform: rotate(-225deg);
  margin-top: 4px;



}


.arrow {
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform: rotate(225deg);
  margin-left: 0.38em;
  margin-top: -0.25em;
  transition: transform 100ms ease-in-out;
}

#checkbox {
  display: none;
}

#checkbox:checked~.leftbarContainer .sidebar {
  width: 10px;
}

#checkbox:checked~.leftbarContainer .sidebar li a span {
  display: none;
}

#checkbox:checked~.leftbarContainer .sidebar li a i:hover {
  color: #319795;
}